<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcom! <%= username %></h1>
    <p>안녕하세요 저는 그냥 기본 http 모듈이에요!</p>
    <ul>
      <% dataList.forEach(item => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
